VITE_FIREBASE_API_KEY=AIzaSyALwXLmlbEzTtrgAq8SZ7guisaBPPxW7tw
VITE_FIREBASE_AUTH_DOMAIN=skillsetgo-pos.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skillsetgo-pos
VITE_FIREBASE_STORAGE_BUCKET=skillsetgo-pos.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=836327765072
VITE_FIREBASE_APP_ID=1:836327765072:web:ef2dac75d373a3dd494d55
VITE_FIREBASE_MEASUREMENT_ID=G-GF14KPHQTT